{% extends "layout/index.html" %}

{% block title %}
<title>Pincidents - Dashboard</title>
{% endblock %}

{% block content %}

{% block sidebar %}
{% include "components/sidebar.html" %}
{% endblock %}

<div class="d-flex flex-column mx-auto w-100">
    <header class='container sticky-top'>
        <div class="d-flex justify-content-between mx-2 mt-2 mb-2 mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4 mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">
            <div class="header-txt">
                My zones
            </div>
            <div class="d-flex align-items-center">
                <button class="mx-2 btn-custom">
                    <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/search.svg') }}" alt="search" />
                </button>
                <button class="mx-2 btn-custom">
                    <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/filter-alt.svg') }}"
                        alt="filter-alt" />
                </button>
                <button class="mx-2 btn-custom">
                    <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/notification.svg') }}"
                        alt="notification" />
                </button>
            </div>
        </div>
    </header>

    <div class="container myzones mt-3">
        <div class="fixed-height overflow-auto">
            <div class="row">
                <div class="p-3 p-md-1 p-sm-1 p-lg-1 p-xl-1 col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
                    <div class="myzones-bgcolor1 rounded-3">
                        <div class="p-3">
                            <div class="myzones-txt1">
                                Home
                            </div>
                            <p class="myzones-txt2">
                                13 Rose Street, Paarl, Western Cape, South Africa
                            </p>
                        </div>
                        <img class="myzones-map" src="{{ url_for('static', path='img/mydents1.png') }}" alt="map" />
                        <div class="p-3 myzones-txt3">
                            <b>23 dents</b> in the last hour
                        </div>
                        <div class="myzones-line"></div>
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar1.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar2.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar3.svg') }}" />
                                </div>
                                <div class="myzones-txt4 ms-1 mt-1">
                                    Shared with 8 people
                                </div>
                            </div>
                            <button class="btn btn-custom p-0">
                                <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/more_horiz.svg') }}"
                                    alt="more-horiz" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="p-3 p-md-1 p-sm-1 p-lg-1 p-xl-1 col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
                    <div class="myzones-bgcolor1 rounded-3">
                        <div class="p-3">
                            <div class="myzones-txt1">
                                Home
                            </div>
                            <p class="myzones-txt2">
                                13 Rose Street, Paarl, Western Cape, South Africa
                            </p>
                        </div>
                        <img class="myzones-map" src="{{ url_for('static', path='img/mydents1.png') }}" alt="map" />
                        <div class="p-3 myzones-txt3">
                            <b>23 dents</b> in the last hour
                        </div>
                        <div class="myzones-line"></div>
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar1.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar2.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar3.svg') }}" />
                                </div>
                                <div class="myzones-txt4 ms-1 mt-1">
                                    Shared with 8 people
                                </div>
                            </div>
                            <button class="btn btn-custom p-0">
                                <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/more_horiz.svg') }}"
                                    alt="more-horiz" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="p-3 p-md-1 p-sm-1 p-lg-1 p-xl-1 col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
                    <div class="myzones-bgcolor1 rounded-3">
                        <div class="p-3">
                            <div class="myzones-txt1">
                                Home
                            </div>
                            <p class="myzones-txt2">
                                13 Rose Street, Paarl, Western Cape, South Africa
                            </p>
                        </div>
                        <img class="myzones-map" src="{{ url_for('static', path='img/mydents1.png') }}" alt="map" />
                        <div class="p-3 myzones-txt3">
                            <b>23 dents</b> in the last hour
                        </div>
                        <div class="myzones-line"></div>
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar1.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar2.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar3.svg') }}" />
                                </div>
                                <div class="myzones-txt4 ms-1 mt-1">
                                    Shared with 8 people
                                </div>
                            </div>
                            <button class="btn btn-custom p-0">
                                <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/more_horiz.svg') }}"
                                    alt="more-horiz" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-3 p-md-1 p-sm-1 p-lg-1 p-xl-1 col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
                    <div class="myzones-bgcolor1 rounded-3">
                        <div class="p-3">
                            <div class="myzones-txt1">
                                Home
                            </div>
                            <p class="myzones-txt2">
                                13 Rose Street, Paarl, Western Cape, South Africa
                            </p>
                        </div>
                        <img class="myzones-map" src="{{ url_for('static', path='img/mydents1.png') }}" alt="map" />
                        <div class="p-3 myzones-txt3">
                            <b>23 dents</b> in the last hour
                        </div>
                        <div class="myzones-line"></div>
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar1.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar2.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar3.svg') }}" />
                                </div>
                                <div class="myzones-txt4 ms-1 mt-1">
                                    Shared with 8 people
                                </div>
                            </div>
                            <button class="btn btn-custom p-0">
                                <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/more_horiz.svg') }}"
                                    alt="more-horiz" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="p-3 p-md-1 p-sm-1 p-lg-1 p-xl-1 col-12 col-md-4 col-sm-4 col-lg-4 col-xl-4">
                    <div class="myzones-bgcolor1 rounded-3">
                        <div class="p-3">
                            <div class="myzones-txt1">
                                Home
                            </div>
                            <p class="myzones-txt2">
                                13 Rose Street, Paarl, Western Cape, South Africa
                            </p>
                        </div>
                        <img class="myzones-map" src="{{ url_for('static', path='img/mydents1.png') }}" alt="map" />
                        <div class="p-3 myzones-txt3">
                            <b>23 dents</b> in the last hour
                        </div>
                        <div class="myzones-line"></div>
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar1.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar2.svg') }}" />
                                </div>
                                <div class="m-emotion">
                                    <img src="{{ url_for('static', path='img/svg/myzones_avatar3.svg') }}" />
                                </div>
                                <div class="myzones-txt4 ms-1 mt-1">
                                    Shared with 8 people
                                </div>
                            </div>
                            <button class="btn btn-custom p-0">
                                <img class="mx-auto" src="{{ url_for('static', path='img/svg/Ads/more_horiz.svg') }}"
                                    alt="more-horiz" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-bottom d-sm-none d-lg-none d-xl-none d-md-none pt-3 pb-3 ps-2 pe-2">
            <a type="submit" href="#" class="btn btn-primary d-grid" href="#">Create a zone</a>
        </div>
    </div>
    <div class="btn btn-custom pin-position d-none d-sm-block d-lg-block d-xl-block d-md-block">
        <img class="mx-auto" src="{{ url_for('static', path='img/svg/myzones_pinbtn.svg') }}" />
    </div>
</div>

{% endblock %}