@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/static/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

.text-large-title {
  font-family: Poppins, sans-serif;
  font-size: $font-size-large-title;
  font-weight: bold;
}

.text-medium-title {
  font-family: Poppins, sans-serif;
  font-size: $font-size-medium-title;
  font-weight: bold;
}

.text-small-title {
  font-family: Poppins, sans-serif;
  font-size: $font-size-small-title;
  font-weight: bold;
}

.text-paragraph-semi {
  font-family: Poppins, sans-serif;
  font-size: $font-size-paragraph;
  font-weight: 600;
}

.text-paragraph-regular {
  font-family: Poppins, sans-serif;
  font-size: $font-size-paragraph;
  font-weight: 400;
}

.text-sub-text-semi {
  font-family: Poppins, sans-serif;
  font-size: $font-size-sub-text;
  font-weight: 600;
}

.text-sub-text-regular {
  font-family: Poppins, sans-serif;
  font-size: $font-size-sub-text;
  font-weight: 400;
}