<div class='container sticky-bottom d-block d-sm-none d-md-none d-lg-none d-xl-none emotion'>
    <div class="height-80">
        <div class="d-flex justify-content-between sidebar_bg height-56 rounded-5">
            <button class="btn btn-custom">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/three-rows.svg') }}" alt="three-rows" />
            </button>
            <button class="btn btn-custom">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_menu.svg') }}" alt="menu" />
            </button>
            <button class="btn p-0 pin-top btn-custom">
                <!-- <div class="emotion rounded-circle"> -->
                    <img src="{{ url_for('static', path='img/svg/Ads/sidebar/Pin Button.svg') }}" alt="pin" />
                <!-- </div> -->
            </button>
            <button class="btn btn-custom">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_user.svg') }}" alt="user" />
            </button>
            <button class="btn btn-custom">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_settings.svg') }}" alt="settings" />
            </button>
        </div>
    </div>
</div>