<div class="width-98 d-none d-sm-block d-md-block d-lg-block d-xl-block sidebar_bg">
    <div class="height-100 d-flex flex-column align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <button class="btn my-3">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_logo.svg') }}" alt="logo" />
            </button>
            <button class="btn my-1 p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_menu.svg') }}" alt="menu" />
            </button>
            <button class="btn my-1 p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_maps.svg') }}" alt="maps" />
            </button>
            <button class="btn my-1 p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_circle.svg') }}" alt="circle" />
            </button>
            <button class="btn my-1 p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_point.svg') }}" alt="point" />
            </button>
        </div>
        <div class="d-flex flex-column">
            <button class="btn p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_user.svg') }}" alt="user" />
            </button>
            <button class="btn my-3 p-3 rounded-circle">
                <img src="{{ url_for('static', path='img/svg/Ads/sidebar/sidebar_settings.svg') }}" alt="settings" />
            </button>
        </div>
    </div>
</div>